@media (min-width: 60px) {
  body.container {
    -webkit-box-shadow: 0 3px 60px rgba(0,0,0,0.3);
    box-shadow: 0 3px 60px rgba(0,0,0,0.3);
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
  }
  .app,
  .app body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .app .hbox.stretch {
    height: 100%;
  }
  .app .vbox > section,
  .app .vbox > footer {
    position: absolute;
  }
  .app .vbox.flex > section > section {
    overflow: auto;
  }
  .hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
  }
  .hbox > aside,
  .hbox > section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none;
  }
  .hbox > aside.show,
  .hbox > aside.hidden-sm,
  .hbox > section.show,
  .hbox > section.hidden-sm {
    display: table-cell !important;
  }
  .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .vbox > section,
  .vbox > footer {
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .vbox > header ~ section {
    top: 50px;
  }
  .vbox > section.w-f {
    bottom: 50px;
  }
  .vbox > footer {
    top: auto;
    z-index: 1000;
  }
  .vbox > footer ~ section {
    bottom: 50px;
  }
  .vbox.flex > header,
  .vbox.flex > section,
  .vbox.flex > footer {
    position: inherit;
  }
  .vbox.flex > section {
    display: table-row;
    height: 100%;
  }
  .vbox.flex > section > section {
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .ie .vbox.flex > section > section {
    display: table-cell;
  }
  .vbox.flex > section > section > section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .aside-xs {
    width: 48px;
  }
  .aside {
    width: 180px;
  }
  .aside-sm {
    width: 150px;
  }
  .aside-md {
    width: 200px;
  }
  .aside-lg {
    width: 250px;
  }
  .aside-xl {
    width: 300px;
  }
  .aside-xxl {
    width: 450px;
  }
  .scrollable {
    -webkit-overflow-scrolling: touch;
  }
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,0.3);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50,50,50,0.6);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(50,50,50,0.1);
  }
  ::-webkit-scrollbar-track:hover {
    background-color: rgba(50,50,50,0.2);
  }
}
@media (min-width: 60px) {
  .visible-nav-xs {
    display: none;
  }
  .nav-xs {
    width: 60px;
  }
  .nav-xs .slimScrollDiv,
  .nav-xs .slim-scroll {
    overflow: visible !important;
  }
  .nav-xs .slimScrollBar,
  .nav-xs .slimScrollRail {
    display: none !important;
  }
  .nav-xs .scrollable {
    overflow: visible;
  }
  .nav-xs .nav-primary > ul > li > a {
    position: relative;
    padding: 0;
    font-size: 11px;
    text-align: center;
    height: 60px;
    overflow-y: hidden;
    border: none;
  }
  .nav-xs .nav-primary > ul > li > a span {
    color: #fff !important;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    width: 60px;
    position: relative;
    z-index: 2;
  }
  .nav-xs .nav-primary > ul > li > a span.pull-right {
    display: none !important;
  }
  .nav-xs .nav-primary > ul > li > a i {
    width: auto;
    float: none;
    display: block;
    font-size: 19px;
    margin: 0;
    line-height: 60px;
    border: none !important;
    color: #fff !important;
    overflow: visible;
    -webkit-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
  }
  .nav-xs .nav-primary > ul > li > a i b {
    left: 0 !important;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
  }
  .nav-xs .nav-primary > ul > li > a .badge {
    position: absolute;
    right: 6px;
    top: 4px;
    z-index: 3;
  }
  .nav-xs .nav-primary > ul > li:hover > a i,
  .nav-xs .nav-primary > ul > li:focus > a i,
  .nav-xs .nav-primary > ul > li:active > a i,
  .nav-xs .nav-primary > ul > li.active > a i {
    margin-top: -60px;
  }
  .nav-xs .nav-primary > ul > li:hover > a i b,
  .nav-xs .nav-primary > ul > li:focus > a i b,
  .nav-xs .nav-primary > ul > li:active > a i b,
  .nav-xs .nav-primary > ul > li.active > a i b {
    height: 60px;
    top: 60px;
  }
  .nav-xs .nav-primary > ul ul {
    display: none !important;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1050;
    width: 150px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border: 1px solid rgba(0,0,0,0.1);
    background-clip: padding-box;
  }
  .nav-xs .nav-primary li:hover > ul,
  .nav-xs .nav-primary li:focus > ul,
  .nav-xs .nav-primary li:active > ul {
    display: block !important;
  }
  .nav-xs.nav-xs-right .nav-primary > ul ul {
    left: auto;
    right: 100%;
  }
  .nav-xs > .vbox > .header,
  .nav-xs > .vbox > .footer {
    padding: 0 15px;
  }
  .nav-xs .hidden-nav-xs {
    display: none;
  }
  .nav-xs .visible-nav-xs {
    display: inherit;
  }
  .nav-xs .nav-user {
    padding: 12px 0;
  }
  .nav-xs .nav-user .avatar {
    float: none !important;
    margin-right: 0;
  }
  .nav-xs .nav-user .dropdown > a {
    display: block;
    text-align: center;
  }
  .nav-xs .navbar-header {
    float: none;
  }
  .nav-xs .navbar-brand {
    display: block;
    padding: 0;
  }
  .nav-xs .navbar-brand img {
    margin-right: 0;
  }
  .nav-xs .navbar {
    padding: 0;
  }
}
@media (max-width: 59px) {
  .navbar-fixed-top-xs {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1100;
  }
  .navbar-fixed-top-xs + * {
    padding-top: 50px;
  }
  html,
  body {
    min-height: 100%;
    overflow-x: hidden;
  }
  .open,
  .open body {
    height: 100%;
  }
  .nav-primary .dropdown-menu {
    position: relative;
    float: none;
    left: 0;
    margin-left: 0;
    padding: 0;
  }
  .nav-primary .dropdown-menu a {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  .nav-primary .dropdown-menu li:last-child a {
    border-bottom: none;
  }
  .navbar-header {
    text-align: center;
  }
  .nav-user {
    margin: 0;
    padding: 15px;
  }
  .nav-user.open {
    display: inherit !important;
  }
  .nav-user .dropdown-menu {
    display: block;
    position: static;
    float: none;
  }
  .nav-user .dropdown > a {
    display: block;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .nav-user .avatar {
    width: 160px !important;
    float: none !important;
    display: block;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(255,255,255,0.1);
    position: relative;
  }
  .nav-user .avatar:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    border: 4px solid #fff;
    border-radius: 500px;
  }
  .nav-off-screen {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .nav-off-screen .nav-primary {
    display: block !important;
  }
  .nav-off-screen .navbar-fixed-top-xs {
    width: 75%;
  }
  .nav-off-screen.push-right .navbar-fixed-top-xs {
    left: 25%;
  }
  .nav-off-screen.push-right {
    left: auto;
    right: 0;
  }
  .nav-off-screen.push-right + * {
    -webkit-transform: translate3d(-75%,0px,0px);
    transform: translate3d(-75%,0px,0px);
  }
  .nav-off-screen + * {
    background-color: #f7f7f7;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(75%,0px,0px);
    transform: translate3d(75%,0px,0px);
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .nav-off-screen + * .nav-off-screen-block {
    display: block !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1950;
  }
  .navbar + section .nav-off-screen {
    top: 50px;
  }
  .navbar + section .nav-off-screen + * {
    top: 50px;
  }
  .slimScrollDiv,
  .slim-scroll {
    overflow: visible !important;
    height: auto !important;
  }
  .slimScrollBar,
  .slimScrollRail {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-2-4 {
    width: 20.000%;
    float: left;
  }
}
@media (max-width: 59px) {
  .shift {
    display: none !important;
  }
  .shift.in {
    display: block !important;
  }
  .row-2 [class*="col"] {
    width: 50%;
    float: left;
  }
  .row-2 .col-0 {
    clear: none;
  }
  .row-2 li:nth-child(odd) {
    clear: left;
    margin-left: 0;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-left-xs {
    text-align: left;
  }
  .pull-none-xs {
    float: none !important;
  }
  .hidden-xs.show {
    display: inherit !important;
  }
  .wrapper-lg {
    padding: 15px;
  }
}