<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.lainiao.myqq.dao.ChatMessMapper" >

  <select id="getOffLineChatMessByAccount" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select * from chatmess where targetid=#{targetid}
  </select>
</mapper>